<% if message.user == current_user %>
<div class="message message-right" data-message-id="<%=message.id%>">
  <div class="message-body">
    <br>
    <div class="message-content">
      <%= message.content if message.content.present? %>
    </div>
  </div>
  
</div>
<% else %>
<div class="message message-left" data-message-id="<%=message.id%>">
  <div class="message-image">
    <%= image_tag message.user.avatar, alt: "avater", class: "rounded-circle" %>
  </div>
  <div class="message-body">
    <%= message.user.name %>
    <br>
    <div class="message-content">
      <%= message.content if message.content.present? %>
    </div>
  </div>
</div>
<% end %>

