<div class="card mb-3 col-6 d-inline-block" style="max-width: 300px;">
  <div class="card-body">
  <div class="row no-gutters">
      <div class="col-md-5 pt-3">
        <%= image_tag meeting.planning_user.avatar, alt: "icon", width: "80%", class: "rounded-circle img-fluid" %>
        <div class="pt-2"><%= meeting.planning_user.name %></div>
      </div>
      <div class="col-md-7">
        <div class="badge badge-primary p-2"><%= meeting.meet_at.strftime("%m月%d日%H:%M") %></div>
        <div class="py-2">
          <span class="badge badge-secondary p-2 mr-4"><%= meeting.place.name %></span>
          <span class="badge badge-secondary p-2"><%= meeting.people %>人</span>
        </div>
        <%= link_to('詳細', meeting_path(meeting), class: "btn btn-yellow loading-link", remote: true ) %>
      </div>
  </div>
  </div>
</div>