<div class="row wrapper">
  <div class="col-9">
    <h3>プラン作成</h3>
    <%= form_with(model: @meeting, url: meetings_path, local: true, class: "form meeting-form") do |f| %>
      <div id="firstMeetingForm">
        <div class="field" style="margin-left: 0;">
          <%= f.collection_select :place_id, @places, :id, :name,
                    { include_blank: true }, class: "select-field text-field", required: true %>
          <%= f.label :place_id, "開催場所" %>
          <span class="focus-line"></span>
        </div>
        <div class="field">
          <%= f.select :people, @people, { include_blank: true },
                    class: "select-field text-field", required: true %>
          <%= f.label :people, "人数" %>
          <span class="focus-line"></span>
        </div>
        <div class="field d-flex mx-auto" style="width: 25vw;">
          <%= f.select	:meet_at_date, @date_and_time[:date], { include_blank: true },
                  class: "select-field text-field", required: true %>
          <%= f.select	:meet_at_hour, @date_and_time[:hour], { include_blank: true },
                  class: "w-50 select-field text-field", required: true %>
          <%= f.select	:meet_at_minute, @date_and_time[:minute], { include_blank: true },
                  class: "w-50 select-field text-field", required: true %>
          <label>開催日時</label>
          <span class="focus-line"></span>
        </div>
        <div class="field form-search-tag">
          <input type="search" class="text-field" id="tagInput" placeholder="辛いものetc..">
          <label>タグ</label>
          <span class="focus-line"></span>
          <ul class="list-group form-index-tag" id="tagList">
          </ul>
        </div>
        <%= f.hidden_field :tag_list, value: @meeting.tag_list.join(','), id: "tagForm", style: "display:none;" %>
        <div class="bootstrap-tagsinput">
        </div>
        <div class="field text-area">
          <%= f.text_area :detail, autofocus: true, autocomplete: "detail", required: true, 
                        class: "text-field text-area-field", placeholder: "" %>
          <%= f.label :name, "詳細" %>
        </div>
        <div class="field form-create-meeting">
          <%= f.submit "作成", class: "btn btn-yellow" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-3 text-center">
    <%= render 'recommend', recommend_meetings: @recommend_meetings %>
</div>
<%= javascript_bundle_tag "meetings_new" %>
<script>

function beforeLoad() {
  document.getElementById('loading').classList.remove('loaded');
}

function completeLoad() {
  document.getElementById('loading').classList.add('loaded');
};

completeLoad();

$(".loading-link").click(function() {
  beforeLoad();
});

$("form").submit(function() {
  beforeLoad();
})

window.onload = completeLoad;

$(function() {
  $("#tagInput").on("keyup", function() {
    let tag_input = $("#tagInput").val();

    $.ajax({
    type: "GET",
    url: "/tags/index",
    data: { 
            input: tag_input,
          },
    dataType: "json"
    })
    .done(function(tags) {
      $('#tagList').empty();
      if (tags.length !== 0) {
        tags.forEach(function(tag) {
          addTag(tag);
        });
      } else if (tag_input.length == 0) {
        return false;
      } else {
        addNoTag();
      }
    })
    .fail(function() {
      addTagAlert();
    })
  })

  // $("#tagInput").blur(function() {
  //   $("#tagList").empty();
  // })
});

function addTag(tag) {
  let html = `<a class="list-group-item tag-item" data-tag-id="${tag.id}" onclick="addTagToTagForm(this)">${tag.name}</a>`
  $("#tagList").append(html);
}

function addNoTag() {
  let html = `<li class="list-group-item">検索結果はありません</li>`
  $("#tagList").append(html);
}

function addTagAlert() {
  let html = `
      <div class="alert-box">
        <div class="alert alert-danger">
          <strong>通信エラーが発生しました。</strong>
        </div>
      </div>`
  $(".alert-box").replaceWith(html);
  setTimeout("$('.alert').fadeOut('slow')", 2000);
}

function addTagToTagForm(tag_name) {
  let html = `<span class="badge badge badge-info">
                ${tag_name.textContent}
                <span data-role="remove" onclick="tagRemove(this)" class="aaa">
                </span>
              </span>`
  if ($("#tagForm").val() === "") {
    $("#tagForm").val(tag_name.textContent);
  } else {
    let tags = $("#tagForm").val().split(',')
    for (i = 0; i < tags.length; i++) {
      if ( tags[i] === tag_name.textContent) {
        return false;
      }
    }
    $("#tagForm").val($("#tagForm").val() + "," + tag_name.textContent);
  };
  $("#tagInput").val("");
  $("#tagList").empty();
  $(".bootstrap-tagsinput").append(html);
}

function tagRemove(element_for_remove) {
  $(element_for_remove).parent().remove();
  let tags = $("#tagForm").val().split(',');
  tags = tags.filter(function(tag) {
    console.log(tag);
    return tag !== $(element_for_remove).parent().text().trim()
  })
  $("#tagForm").val(tags.join(','));
}

/* エンターキーによるsubmit無効化 */

$(function(){
    $("input"). keydown(function(e) {
        if ((e.which && e.which === 13) || (e.keyCode && e.keyCode === 13)) {
            return false;
        } else {
            return true;
        }
    });
});

</script>
<style>
.tag-item {
  padding: .5rem 1rem !important;
}
.form-index-tag {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.form-create-meeting {
  padding-bottom: 2.5rem;
}


/* .meeting-form {
  margin: 0 25% auto !important;
} */

.vw-30 {
  width: 30vw !important;
}

.text-area-field {
  border: 1px solid #1b2538 !important;
  width: 40vw;
  height: 40vh;
}
.text-area-field:focus {
  border: 2px solid #FFB500 !important;
  transition: 0.4s;
}
</style>