<div class="meeting-search-form mx-auto">
<%= search_form_for @q, url: search_meetings_path, remote: true do |f| %>
  <label>日時</label>
  <div id="carouselDateControls" class="carousel slide mx-auto" data-interval="false">
    <a class="btn-carousel-next pt-3" href="#carouselDateControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <div class="carousel-inner pl-2 pr-2">
      <% @week.each do |week| %>
      <div class="date-search-form carousel-item <%="active" if @week.first == week%>">
        <div class="date-search .d-inline w-100">
          <% week.each do |date| %>
            <div>
              <%= f.radio_button :meet_at_equals_date, date %>
              <%= f.label :meet_at_equals_date, date.strftime("%m/%d") %>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <a class="btn-carousel-next pt-3" href="#carouselDateControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div>
    <%= f.label :place_id_eq, "場所" %>
    <%= f.collection_select :place_id_eq, @places, :id, :name, include_blank: '全て' %>
  </div>

  <div>
    <%= f.label :people_eq, "人数" %>
    <%= f.number_field :people_eq %>
  </div>

  <%= f.submit "検索", class: "btn search-button", role: "button" %>
<% end %>
</div>


