<h3>プラン検索</h3>
<%= render 'search_form' %>

<% @meetings.each do |m| %>
  <div class="card mb-3 col-6 d-inline-block" style="max-width: 400px;">
    <div class="row no-gutters">
        <div class="col-md-5 my-auto">
          <% if m.user.avatar.attached? %>
            <%= image_tag m.user.avatar.variant(combine_options:{gravity: :center, resize:"80x80"}).processed, alt: "icon", class: "img-fluid" %>
          <% else %>
            <%= image_tag 'default-icon.jpeg', width: "150", alt: "icon", class: "img-fluid" %>
          <% end %>
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title"><%= m.user.name %></h5>
                <p>
                  <%= m.place.name %><br/>
                  <%= m.meet_at.strftime("%m月%d日%H:%M") %><br/>
                  <%= m.people %>人
                </p>
                <a class="btn btn-success" href="#">詳細</a>
            </div>
        </div>
    </div>
  </div>
<% end %>
<%= paginate @meetings, remote: true %>
