<%= form_with(model: @meeting, local: true) do |f| %>
  <!-- <div class="form-group">
    <%= f.hidden_field :user_id, value: current_user.id, class: "form-control" %>
  </div> -->
  <div id="firstMeetingForm">
    <div class="form-group">
      <%= f.label :place, "開催場所:", class: "mt-4" %>
      <%= f.collection_select :place_id, @places, :id, :name, class: "form-control mb-4" %>
    </div>
    <div class="form-group">
      <%= f.label :people, "参加人数:", class: "mt-4" %>
      <%= f.number_field :people, min: 2, max: 10, class: "mb-4" %>
    </div>
    <div class="form-group">
      <%= f.label :meet_at, "開催日時:", class: "mt-4"%>
      <%= f.datetime_field	:meet_at, class: "mb-4" %>
    </div>
    <div class="btn btn-success" id="nextButton">次へ</div>
  </div>
  <div id="secondMeetingForm">
    <div class="form-group">
      <%= f.label :tag_list %>
      <%= f.text_field :tag_list, value: @meeting.tag_list.join(','), data: {role: "tagsinput"}, class: "form-control", id: "tagForm" %>
    </div>
    <div class="tag-content">
      <% @tag_category.each_with_index do |tag_category, tci| %>
        <label for=<%= "tagCategory-#{tci}" %>><%= tag_category.category_name %></label>
        <input type="checkbox" id=<%="tagCategory-#{tci}"%> class="tag-category">
        <div class="tag-list">
          <% Array(tag_category.tags).each_with_index do |parent_tag, pti| %>
            <span onclick="clickTag(this)">
              <input type="text" class="tag-btn" onclick="clickTag(this)" data-role="tagsinput" value=<%= parent_tag.name %> >
            </span onclick="clickTag(this)">
            <% Array(parent_tag.children).each_with_index do |child_tag, cti| %>
              <span>
                <input type="text" class="tag-btn" onclick="clickTag(this)" data-role="tagsinput" value=<%= child_tag.name %> >
              </span>
              <% Array(child_tag.children).each_with_index do |indirect_tag, iti| %>
                <span onclick="clickTag(this)">
                  <input type="text" class="tag-btn" onclick="clickTag(this)" data-role="tagsinput" value=<%= indirect_tag.name %> >
                </span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <div class="btn btn-success" id="beforeButton">戻る</div>
      <%= f.submit "プラン作成", class: "btn btn-success" %>
    </div>
  </div>
<% end %>

<script>
const firstForm = document.getElementById('firstMeetingForm');
const secondForm = document.getElementById('secondMeetingForm');
secondForm.style.display ="none";
document.getElementById('nextButton').onclick = function(e) {
  firstForm.style.display = "none";
  secondForm.style.display = "block";
};
document.getElementById('beforeButton').onclick = function(e) {
  firstForm.style.display = "block";
  secondForm.style.display = "none";
};

// const tagCategory = document.getElementById();
// const tagList = document.getElementById('selectTagList');
// tagList.style.display = "none";

// const tagBtns = document.getElementsByClassName('tag-btn');
const tagForm = document.getElementById('tagForm');
function clickTag(obj) {
  let tagBtn = obj.childNodes;
  console.log(tagBtn[2]);
  tagBtn[2].style.display = "none";
  // console.log(tagBtn[2].value);
}

</script>