<div class="card text-center container" style="max-width: 40rem;">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar.variant(combine_options:{gravity: :center, resize:'800x800'}).processed, alt: "icon", class: "img-fluid" %>
  <% else %>
    <%= image_tag 'default-icon.jpeg', width: "800", alt: "icon", class: "img-fluid" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= @user.name %></h5>
    <p class="card-text">よろしくお願いします</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">リスト01</li>
    <% unless current_user?(@user) %>
      <li class="list-group-item"><%= render "message_form" %></li>
      <li class="list-group-item"><%= render "friend_form" %></li>
    <% end %>
  </ul>
</div>
