<div class="card mb-3">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a href="#detailCard" class="nav-link active" data-toggle="tab">プラン詳細</a>
      </li>
      <li class="nav-item">
        <a href="#profileCard" class="nav-link" data-toggle="tab">プロフィール</a>
      </li>
    </ul>
  </div>
    <div class="tab-content">
      <div id="detailCard" class="tab-pane active card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p class="detail-text"><%=safe_join(@meeting_application.detail.split("\n"),tag(:br))%></p>
          </li>
          <li class="list-group-item m-auto">
            <div><%= render 'approval_button'%></div>
          </li>
        </ul>
      </div>
      <div id="profileCard" class="tab-pane card-body">
        <div class="row no-gutters">
          <div class="col-md-6 profile-avatar-content">
            <div class="profile-avatar">
              <%=link_to image_tag(@partner.avatar,
                  alt: "avatar", width: "120vw", class: "rounded-circle bd-placeholder-img img-fluid"), 
                  url_for(@partner.avatar), data: {lightbox: "avatar", title: @partner.name} %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <p><%= @partner.name %></p>
              <p><%= @partner.age %>歳</p>
              <p><%= @partner.residence.prefecture_name %></p>
            </div>
          </div>
        </div>
        <ul class="list-group list-group-flush pt-4">
            <li class="list-group-item d-block">
              <p>自己紹介</p>
              <div><%= @partner.user_profile.introduction if @partner.register_introduction? %><div>
            </li>
            <% if @partner.register_height? %>
            <li class="list-group-item">
              <div>身長</div>
              <div><%=@partner.user_profile.height%>cm</div>
            </li>
            <% end %>
            <% if @partner.register_weight? %>
            <li class="list-group-item">
              <div>体重</div>
              <div><%=@partner.user_profile.weight%>kg</div>
            </li>
            <% end %>
            <% if @partner.register_blood_type? %>
            <li class="list-group-item">
              <div>血液型</div>
              <div><%= @partner.user_profile.blood_type%>型</div>
            </li>
            <% end %>
            <% if @partner.register_birthplace? %>
            <li class="list-group-item">
              <div>出身地</div>
              <div><%= @partner.user_profile.birthplace.prefecture_name%></div>
            </li>
            <% end %>
            <% if @partner.register_occupation? %>
            <li class="list-group-item">
              <div>職業</div>
              <div><%=@partner.user_profile.occupation.occupation_name%></div>
            </li>
            <% end %>
            <% if @partner.register_educational_bg? %>
            <li class="list-group-item">
              <div>学歴</div>
              <div><%=@partner.user_profile.educational_bg.ebg_name%></div>
            </li>
            <% end %>
            <% if @partner.register_annual_income? %>
            <li class="list-group-item">
              <div>年収</div>
              <div><%=@partner.user_profile.annual_income.income_range%></div>
            </li>
            <% end %>
            <% if @partner.register_smoking? %>
            <li class="list-group-item">
              <div>喫煙</div>
              <div><%=@partner.user_profile.smoking.smoking_status%></div>
            </li>
            <% end %>
            <li class="list-group-item m-auto">
              <div><%= render 'messages/message_link' %></div>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>

<script>

function beforeLoad() {
  document.getElementById('loading').classList.remove('loaded');
}

function completeLoad() {
  document.getElementById('loading').classList.add('loaded');
};

completeLoad();
$(".loading-link").click(function() {
  beforeLoad();
});
$("form").submit(function() {
  beforeLoad();
})
window.onload = completeLoad;

</script>
