<main>
  <div class="top-first-page">
    <div class="container">
      <%= image_tag 'logo.jpeg', class: "img-fluid top-logo" %>
      <p class="top-button-content">
      <% if user_signed_in? %>
        <%= link_to(t('.make_meeting'), home_user_path(current_user.id), class: "btn btn-lg btn-outline-success") %>
      <% else %>
        <button type="button" class="btn sign-up-button" data-toggle="modal" 
                                                data-target="#signupAuthModal"><%= t('.sign_up')%></button>
        <%= link_to( t('.login'), new_user_session_path, class: "btn btn-dark login-button") %>
      <% end %>
      <p>
    </div>
  </div>
</main>
<%= render "users/registrations/auth_select_modal" %>

