<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Quartet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_bundle_tag "application" %>
    <%= stylesheet_bundle_tag "application" %>
  </head>
  <body class="container-fluid">
    <header><%= render 'layouts/nav' %></header>
    <div class="body-content">
      <% if user_signed_in? %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <div class="row">
          <div class="sidebar-content col-3">
            <%= render 'users/content/sidebar_content'%>
          </div>
          <div class="main-content col-9" id='mainContent'>
            <%= yield %>
          </div>
        </div>
      <% else %>
        <p class="notice notice-before-login"><%= notice %></p>
        <p class="alert alert-before-login"><%= alert %></p>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
