<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Quartet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_bundle_tag "application" %>
    <%= stylesheet_bundle_tag "application" %>
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <div class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if user_signed_in? %>
        <div class="row">
          <div class="sidebar-content col-3">
            <%= render 'users/content/sidebar_content'%>
          </div>
          <div class="main-content col-9">
            <%= yield %>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
