<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Quartet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_bundle_tag "application" %>
    <%= stylesheet_bundle_tag "application" %>
  </head>
  <body class="container-fluid">
    <header><%= render 'layouts/nav' %></header>
    <div class="body-content">
      <% if user_signed_in? %>
        <div class="row">
          <div class="sidebar-content col-2">
            <%= render 'users/content/sidebar_content'%>
          </div>
          <div class="content-box col-9" id='contentBox'>
            <%= render 'layouts/flashes' %>
            <div class="main-content" id='mainContent'>
              <%= yield %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="content-box" id='contentBox'>
          <%= render 'layouts/flashes' %>
          <div class="main-content" id='mainContent'>
            <%= yield %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
