<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Quartet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/jquery.tagit.css">
    <script type="text/javascript" src="js/tag-it.min.js"></script>
  </head>
    <body>
    <%= render 'layouts/nav' %>
    <div class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="row">
        <div class="sidebar-content col-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%= link_to('プロフィール編集', edit_user_registration_path, class: 'list-action') %>
            </li>
        </div>
        <div class="main-content col-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
