<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Quartet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
  </head>
    <body>
    <%= render 'layouts/nav' %>
    <div class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="row">
        <div class="sidebar-content col-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%= link_to('プロフィール編集', edit_user_registration_path, class: 'list-action') %>
            </li>
        </div>
        <div class="main-content col-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
