<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Quartet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_bundle_tag "application" %>
    <%= stylesheet_bundle_tag "application" %>
  <body>
    <%= yield %>
  </body>
</html>
